extend layout
block content
  p
    | Hello world, welcome to this site
    | On this page, we do fun stuff.
    | Like? like the wikipedia crawler which is
    | which is trying to find patterns in the url network.
block sidebar
  .widget
    h1 About me
    p
      | I am Software Engineering Intern in San Francisco
      | I am learning express these days.
